<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
    <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="example-app-name">Sistema de Recaudacion</h1>
    </mat-toolbar>
  
    <mat-sidenav-container class="example-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
          <div *ngFor="let nav of fillerNav; let i = index;">
            <!-- <a mat-list-item routerLink={{routes[i].name}} >{{nav}}</a> -->



            <mat-expansion-panel [expanded]="step === i" (opened)="setStep(i); setIcon(i)" (closed)="setIcon(i)" hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                      {{nav}}
                  </mat-panel-title>
                  <mat-icon>{{icon[i]  ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</mat-icon>
                </mat-expansion-panel-header>
            
                <mat-panel-title *ngFor="let sub of routes[i].subMenu">
                    <mat-nav-list>
                    <a mat-list-item routerLink="{{sub.name}}" >{{sub.name}}</a> 
                  </mat-nav-list>
                </mat-panel-title>
                
              </mat-expansion-panel>


          </div>
        </mat-nav-list>

      </mat-sidenav>
  
      <mat-sidenav-content>
          <router-outlet></router-outlet>
          <div class="footer" *ngIf="show()" >
          <app-footer></app-footer>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
    
  </div>

