<div class="example-container">
  <br>
  <mat-tab-group>
      <mat-tab label="Crear" >
        <br>
          <mat-grid-list cols="6" rowHeight="100">
              <mat-grid-tile>
                  <mat-form-field>
                      <input matInput placeholder="Nombre"  name="nombre" #inputBox 
                      [(ngModel)]="usuario.nombre"  >
                    </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field>
                    <input matInput placeholder="Apellido"  name="apellido" #inputBox 
                    [(ngModel)]="usuario.apellido"  >
                  </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                  <input matInput placeholder="Nombre de Usuario"  name="nombre_usuario" #inputBox 
                  [(ngModel)]="usuario.nombre_usuario"   >
                </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
                <input matInput placeholder="Contraseña"  name="password" #inputBox  type="password"
                [(ngModel)]="usuario.password" >
              </mat-form-field>
          </mat-grid-tile>

          
            </mat-grid-list>
            <button class="bt" mat-raised-button color="primary" (click)="post()" >Agregar</button>

            

      </mat-tab>

      <mat-tab label="Editar"> Content 2 </mat-tab>
      <mat-tab label="Eliminar"> Content 3 </mat-tab>
    </mat-tab-group>


    <br>
  


  <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element" > {{element.id}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="apellido">
        <th mat-header-cell *matHeaderCellDef> Apellido </th>
        <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nombre_usuario">
        <th mat-header-cell *matHeaderCellDef> Usuario </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre_usuario}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="password">
        <th mat-header-cell *matHeaderCellDef> Password </th>
        <td mat-cell *matCellDef="let element"> {{element.password}} </td>
      </ng-container>
    

      <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="example-element-detail"
                 [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                 <mat-grid-list cols="1" rowHeight="50">
                      <mat-form-field >
                        <input matInput placeholder="No" disabled value="{{element.id}}">
                      </mat-form-field>
                </mat-grid-list>
                <mat-grid-list cols="1" rowHeight="50">
                      <mat-form-field>
                          <input matInput placeholder="Nombre"  name="nombre" 
                          [(ngModel)]="element.nombre" >
                      </mat-form-field>
                  </mat-grid-list>
                  <mat-grid-list cols="1" rowHeight="50">
                    <mat-form-field>
                        <input matInput placeholder="Apellido"  name="apellido" 
                        [(ngModel)]="element.apellido" >
                    </mat-form-field>
                </mat-grid-list>
                <mat-grid-list cols="1" rowHeight="50">
                  <mat-form-field>
                      <input matInput placeholder="Usuario"  name="nombre_usuario" 
                      [(ngModel)]="element.nombre_usuario" >
                  </mat-form-field>
              </mat-grid-list>
              <mat-grid-list cols="1" rowHeight="50">
                <mat-form-field>
                    <input matInput placeholder="Contraseña"  name="password" 
                    [(ngModel)]="element.password" >
                </mat-form-field>
            </mat-grid-list>
                  <button  mat-button color="primary" (click)="update(element)">Editar</button>
                  <button  mat-button color="red" (click)="delete(element)">Eliminar</button>
                </div>
          </td>
        </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>


</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>


<!-- Fin Tabla -->

</div>