// define 3 theme color
// mat-palette accepts $palette-name, main, lighter and darker variants
.candy-carousel {
    color: mat-color($primary);
  
    background-color: mat-color($accent, 300);
  
    outline-color: mat-color($accent, lighter);
  
    border-color: mat-color($primary, '100-constrast');
  }