<div class="example-container">
  <br>
  <mat-tab-group>
      <mat-tab label="Crear" >
        <br>
          <mat-grid-list cols="6" rowHeight="100">
              <mat-grid-tile>
                  <mat-form-field>
                      <input matInput placeholder="Titulo"  name="titulo" #inputBox 
                      [(ngModel)]="profesor.titulo"  >
                    </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field>
                    <mat-select placeholder="Usuario" [(ngModel)]="profesor.usuario_id">
                      <mat-option *ngFor="let usuario of usuarios" [value]="usuario.id" >{{usuario.nombre}}</mat-option>
                    </mat-select>
                  </mat-form-field>
            </mat-grid-tile>
            </mat-grid-list>
            <button class="bt" mat-raised-button color="primary" (click)="post()" >Agregar</button>

            

      </mat-tab>

      <mat-tab label="Editar"> Content 2 </mat-tab>
      <mat-tab label="Eliminar"> Content 3 </mat-tab>
    </mat-tab-group>


    <br>
  


  <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element" > {{element.id}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="apellido">
        <th mat-header-cell *matHeaderCellDef> Apellido </th>
        <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="usuario_id">
        <th mat-header-cell *matHeaderCellDef> Usuario </th>
        <td mat-cell *matCellDef="let element"> {{ getNombreUsuario(element.usuario_id) }} </td>
      </ng-container>
    

      <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="example-element-detail"
                 [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                 <mat-grid-list cols="1" rowHeight="50">
                      <mat-form-field >
                        <input matInput placeholder="No" disabled value="{{element.id}}">
                      </mat-form-field>
                    </mat-grid-list>
                    <mat-grid-list cols="1" rowHeight="50">
                      <mat-form-field>
                          <input matInput placeholder="Nombre"  name="nombre" 
                          [(ngModel)]="element.nombre" >
                      </mat-form-field>
                    </mat-grid-list>
                    <mat-grid-list cols="1" rowHeight="50">
                        <mat-form-field>
                            <mat-select placeholder="Usuario" [(ngModel)]="element.usuario_id">
                              <mat-option *ngFor="let usuario of usuarios" [value]="usuario.id" >{{usuario.nombre}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </mat-grid-list>
                  <button  mat-button color="primary" (click)="update(element)">Editar</button>
                  <button  mat-button color="red" (click)="delete(element)">Eliminar</button>
                </div>
          </td>
        </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>


</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>


<!-- Fin Tabla -->

</div>