.bt {
    width: 20%!important;
    /* background: chocolate */
    
  }

  .bt2 {
    width: 10%!important;
    position: absolute;
    /* right: 0; */
    /* background: chocolate */
    
  }
  
  .mat-form-field {
    font-size: 12px;
    width: 100%;
  }

  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;

  }
  .example-container{
    padding: 20px;
  }

  table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }

  tr.example-element-row:not(.example-expanded-row):hover {
    background: #f5f5f5;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0.1;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
    /* height: 70px; */
    padding: 20px;
  }